
<div class="new-presentation-container">
    <h1>New Presentation</h1>
    <%= render 'form', presentation: @presentation %>
    <%= link_to 'Back', presentations_path, class:"btn btn-primary", id: "pres-back" %>
</div>


