<p id="notice"><%= notice %></p>
<h1>Editing Feedback</h1>

<%= render 'form', feedback: @feedback %>

<%= link_to 'Show', @feedback %> |
<%= link_to 'Back', presentations_path, class: "btn btn-primary", id: "feedback-back" %>
