<div class=container>
    <div class='row'>
        <div class='col-4'>
        </div>
        <div class='col-4'>
            <p id="notice"><%= notice %></p>
            <h1>New Feedback</h1>

            <%= render 'form', feedback: @feedback %>

            <%= link_to 'Back', presentations_path, class: "btn btn-primary", id: "feedback-back" %>
        </div>
        <div class='col-6'>
        </div>
    </div>
</div>
