/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.leftside,
.rightside {
  font-size: large;
  color: black;
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header-container {
  margin-top: 0%;
  background-color: #ee7d7d;
  height: 8em;
}
.footer {
  background-color: #ee7d7d;
  height: 8em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#submit-button {
  margin-top: 1em;
}
#logout-btn {
  text-align: right;
  margin-top: 2.5em;
  right: 15em;
  position: absolute;
}
.new-user-container,
.new-presentation-container {
  width: 30%;
  margin-left: 35%;
}
#pres-back,
#user-back,
#feedback-back,
#presentation-back,
#add-presentation-btn,
#add-student-btn,
#logout-btn {
  color: white;
}
