// Place all the styles related to the Presentations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#grade-pill {
  height: 21px;
  width: 52px;
  text-align: center;
  font-size: 15px;
}
