// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#login-btn {
  margin-top: 2em;
}
.login-container {
  padding-top: 10em;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
}
#login-header {
  text-shadow: 2px 2px 2px #000000;
}
